.h {
  min-height: 100vh;
  position: relative;
  background-image: url("../img/sfondoNuovo.png");
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}
.h-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

h1 {
  margin-bottom: 40px;
}

.h-left h1 {
  font-size: 45px;
  font-style: italic;
  font-weight: bold;
}
.h-left p {
  font-size: 30px;
}

.h-left {
  margin-top: 100px;
  color: white;
  display: flex; /* Make it a flex container */
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center vertically */
  text-align: center;
  width: 37%;
}

.h-image {
  width: 80%;
  border-radius: 50%;
  align-items: center;
}

.portfolioLink a {
  text-decoration: none; /* Remove the default underline */
  color: black; /* Set the text color to green */
  padding: 10px 10px;
  border-radius: 20px;
  background-color: #4fde4f; /* Set the initial background to transparent */
  transition: background-color 0.3s, color 0.3s;
}
.portfolioLink a:hover {
  background-color: #8288d6; /* Set the background color to light green on hover */
  color: white;
}

@media screen and (max-width: 600px) {
  .h {
    width: 100%;
    background-image: url("../img/sfondoMobileHome.png");
    background-size: cover;
  }
  .h-wrapper {
    flex-direction: column; /* Stack elements on top of each other */
    align-items: center;
  }

  .h-left,
  .h-right {
    width: 100%; /* Full width for both h-left and h-right in smartphone view */
  }

  .h-left h1 {
    font-size: 30px;
    margin-bottom: 70px;
  }
  .h p {
    font-size: 20px;
  }
}
