/* Original styles for the navbar */
h3 {
  font-size: 20px;
}

.navbar {
  padding: 20px 10px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  transition: background-color 0.3s ease;
  position: -webkit-sticky; /* For Safari compatibility */
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure the navbar is on top of other content */
}

.logo img {
  width: 42px;
  height: 42px;
  display: inline-flex;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: 70%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.link {
  color: #73a848;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.link:hover {
  color: #2a620a;
}

/* Styles for the navbar when scrolled */
.navbar.scrolled {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
/* Hide the toggle button. Then view it when screen size is 480px */
.toggleButton {
  display: none;
}

/* Style for the menu icon */
.toggleButton svg {
  font-size: 30px; /* Adjust the size as needed */
  cursor: pointer;
}
.whiteIcon {
  color: white; /* Set the icon color to white when isScrolled is true */
}

.blackIcon {
  color: black; /* Set the icon color to black when isScrolled is false */
}

/* Media query to show the toggle button at 480px or less */

@media screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #open {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #close .links {
    display: none;
  }

  #open .links {
    display: flex;
    flex-direction: column;
  }

  #open .logo {
    display: none;
  }
}
